.desktop-header {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.desktop-header .button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*height: 25px;*/
}