.WeekPicker {
  @apply ml-2;
}

.rs-picker-popup .rs-calendar {
    @apply bg-white;
    [data-theme='dark'] & {
      @apply bg-gray1;
    }
  }
  
  .rs-picker-popup .rs-calendar .rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
    @apply bg-transparent text-black !important;
    [data-theme='dark'] & {
        @apply text-white;
      }
  }

.rs-picker-popup .rs-calendar .rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
    @apply shadow-none;
  }
  

.rs-picker-popup .rs-calendar .rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  @apply bg-transparent text-black;
  [data-theme='dark'] & {
    @apply text-white;
  }
}

.rs-picker-popup .rs-calendar .rs-calendar-table-cell:hover .rs-calendar-table-cell-content {
  @apply bg-transparent;
}

.rs-picker-popup .rs-calendar .rs-calendar-table-cell-week-number {
    @apply bg-red8 text-white;
    [data-theme='dark'] & {
      @apply bg-gray2;
  }
}

.week-cell {
  @apply p-1 rounded-md transition ease-in-out duration-200;
  [data-theme='dark'] & {
    @apply text-gray10;
  }
}

.week-cell:hover {
  @apply bg-blue-200;
  [data-theme='dark'] & {
    @apply bg-red-500;
  }
}

.week-cell.hovered {
    @apply bg-blue-500;
    [data-theme='dark'] & {
        @apply bg-gray3;
    }
}

.week-cell.selected {
  @apply bg-red8 text-white font-bold;
  [data-theme='dark'] & {
    @apply bg-red8;
}
}

.week-cell.disabled {
    opacity: 0.2;
    cursor: not-allowed;
    pointer-events: none;
  }